<link rel="stylesheet" type="text/css" href="stylesheets/index.css">

  <div class="first-block">
  </div>
  <div class="second-block">
  </div>
  <div class="third-block">
  </div>

    <div class="img-wrap">
        <div class="happy">~ 平凡な幸せをあなたに ~</div>
            <section id="first-block">
        <div class="title-container">
    </div>

     </div>
    </section>

   
     <section id="second-block">
    <p class="info-title">
    <svg viewbox="0 0 720 80">
    <text class="s01 active" x="0" y="10">
        やさしくおいしいパン日和
        </text>
        </svg>
    </p>
    <div class="about-container">
      <p class="info-text">
        <b>「KOS」とは</b>
        <br>
        <span class="font-small">
        KOSとは、ノルウェー語で「平凡の幸せ」
        <br>
        色んなパンに触れ、すこしでも幸せを感じて欲しい。
        <br>
        そんな願いが込められたサイトとなっています。
        </span>
      </p>

      <p class="info-text">
        <b>オススメパンの共有</b>
        <br>
        <span class="font-small">
        あなたのオススメのパンやお店を投稿しませんか？
        <br>
        そんなパン好き仲間の集う場です。
        <br>
        もっとパンが好きになれるはず。
        </span>
      </p>

      <p class="info-text">
        <b>ジャンル別投稿</b>
        <br>
        <span class="font-small">
        ソフト・ハード・甘い系・おかず系<br>
          4種類のジャンルの投稿閲覧が可能です。<br>
          自分に合ったパンを見つけましょう。
        </span>
      </p>
    </div>
  </section>

    <section id="third-block">
    <p class="events-title">
      自分の「好き」を投稿してみよう
    </p>
    <div class="event-container">
    <div class="event_box">
      <div class="event2">
        <image src="../assets/sample10.jpg">
      </div>
        <p class="event-name">
          <b>オススメのシェア</b>
          <br>
          <br>
          好きやおすすめのパンを投稿しよう。<br>
          知らないパンやお店との出逢い<br>
          そしてパン好き仲間とも交流を深めましょう。
        </p>
      </div>
      <div class="event_box1">
      <div class="event">
        <p class="event-name">
        <b>「KOS」くうちゃん</b>
          <br>
          <br>
        このサイトに出てくるキャラクターくうちゃん<br>
        世界一幸せな動物「クオッカ」がモデルです。<br>
        フランスパンを持って癒されています。<br>
        みなさんにも幸せを届けてくれるでしょう。
        </p>
        <div class="event1">
            <img src="../assets/thumbnail_image1.png">
     </div>
        </div>
      </div>
    </div>
  </section>


      <div class="scroll-infinity">
      <div class="scroll-infinity__wrap">
        <ul class="scroll-infinity__list scroll-infinity__list--right">
          <li class="scroll-infinity__item"><img src="../assets/sample3.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample5.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample6.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample3.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample5.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample6.jpg"></li>
        </ul>
        <ul class="scroll-infinity__list scroll-infinity__list--right">
          <li class="scroll-infinity__item"><img src="../assets/sample3.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample5.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample6.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample3.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample5.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sample6.jpg"></li>
        </ul>
      </div>
      </div>
    <%= yield %>
    