.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    opacity: 0.4;
    z-index: -1;
  }
  .Polka {
    background-image: radial-gradient(#ffc107 2px, #ffffff 2px);
    background-size: 20px 20px;
  }
.field {
    margin: 50px auto;
    width: 50%;
    border: solid #FFF7E1;
    border-radius: 10px;
    text-align: center;
    background-color: #FFF7E1;
  }
  .title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    background-color: #e0d3a5;
  }
  .radio01 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 0.5rem;
    padding: 1rem 0.5rem;
    border: 1px solid #FFF7E1;
}

.radio-area input[type=radio] {
    display: none;
}

.radio-area label {
    cursor: pointer;
    padding: 0.5rem;
    color: #333;
    transition: .5s;
}

.radio-area input[type=radio]:checked+label {
    color: white;
    background-color: #DFC156;
}
  input[type="text"] {
    width: 95%;
    height: 60px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .love{
    text-align: center;
  }
  .so{
    text-align: center;
  }